html {
    font-size: 24px;
}

body {
    background-color: bisque;
    border: 3px solid goldenrod;
}

#meroon {
    color: maroon;
}

h2 {
    color: orchid;
   
}

.red {
    color: red;
}

#gold {
    color: gold;
}

p span {
    background-color: aqua;
    color: blue;
}
p {
    font-style: italic;
}
h1,h2 {

    font-style: calc();
}
.white {
    color: white;
}



body {
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    
}

p {
    color: rgb(11, 10, 44);
}
h1{
    color: hsl(0, 74%, 21%)
}



body {
    min-height: 100vh;
    margin: 2%;
}

h1 {
    border: 3px dashed rebeccapurple;
    width:20%; 
    font-size: 2rem;
    padding: 0.5em;
} 

main {
    font-size: 1rem;
    width: 50%;
    background-color: yellow;
}

p {
    font-size: 1rem;
    width: 50ch;
}







* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cinema {
    border: 5px double red;
    width:40%; 
    font-size: 1.5rem;
   /*margin-top: 1.5em;
    margin-right: 2em;
    margin-bottom: 3em;
    margin-left: 4em;
    margin: 1.5em 2em 3em 4em;*/
    margin: 2em 2em;
    padding: 3em 3em;
    outline: 3px dashed blue;
} 

.circle {
    border: 10px solid purple;
    outline: 5px double palevioletred;
    outline-offset: 10px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 2em auto;
    font-size: 1rem;
    box-sizing: border-box;
    padding: 1.5em;
    background-color: blueviolet;
}


body {
    padding: 10%;
    font-size: 1.5rem;
}

 input, button {
    font-size: inherit;
}
 
 a {
    color: rgb(0, 0, 255);
 }
 
 a:visited {
    color: blueviolet;
 }

 a:hover {
    color: rgba(0, 0, 255 ,0.5);
    background-color: aquamarine;
 }

 a:active {
    color: green;
 }
 
