/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */
:root {
   /*  COLORS */
   --BG:goldenrod;
    --HEADERBGCOLOR: black;
    --BORDERCOLOR:black;
    --COLOR:snow;
    --RD:goldenrod,snow,black;
    /* FONT */
    --FS:1rem;
    --FF:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* MAIN */
    --B:2px solid;
    --P:15px;
}

/* GENERAL STYLES */

html{
    font-size: var(--FS);
    font-family: var(--FF);
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: var(--BG);
    background-image:linear-gradient(var(--RD));
    white-space: wrap;
    display: block;
   
}

img {display: block;}

 header {
    display: flex;
    flex-flow: column nowrap;
 }

h1 {
    border: var(--B) var(--BORDERCOLOR);
    background-color: var(--HEADERBGCOLOR);
    background-image:url(../img/BG.jpg);
    color: goldenrod;
    padding: var(--P);
    text-align: center;
}

:is(header:hover,header:focus-within) nav {
    display: block;
}

nav {
    background-color: black;
    background-image: url(../img/nav.png);
    background-size: cover;
    display: none;
    border: 1px solid black;
    padding: var(--P);
    transform-origin: top center;
    animation: slide 0.5s ease-in-out forwards ;
}

@keyframes slide {
    0% {
        transform: scale(0);
    }
    
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1)
    }
}

nav li {
    list-style-type: none;
   /*  border-top: 1px solid snow; */
}

nav a:any-link {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 10px;
    color: var(--BORDERCOLOR);
    text-decoration: none;
    font-weight: bold;
}

:is(nav a:hover,nav a:focus) {
    transform: scale(1.2);
    transition: all 0.3s;
}

.newshop h2 {
    padding: var(--P);
    margin-top: 10px;
    margin-bottom: 10px;
}

.newshop p {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: var(--P);
}

.aside {
    width: 17%;
    background-color: var(--HEADERBGCOLOR);
    color: var(--BG);
    transform: translate(66rem,-21rem);
    text-align: center;
}

.timing {
    background-color: var(--BG);
    color: var(--COLOR);
}

.shopimage {
    display: flex;
    flex-flow: column-reverse nowrap;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.shopimage img {
    border: 5px double snow;
    margin-bottom: 20px;
    border-radius: 20%;
}

.shopimage figcaption {
    font-weight: bolder;
    padding-bottom: var(--P);
}

.foods {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
}

.foods h2 {
    padding: var(--P);
    margin-top: 50px;
    margin-bottom: 20px;
}

.foods p {
    font-weight: 600;
    padding-bottom: var(--P);
    background-image: url(../img/nav__.png);
}

.foods p, .foods ol {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.foods li {
    list-style-type:none;
    padding-bottom: var(--P);
    
}

.foods li:last-child {
    list-style-type: square;
    font-style: oblique;
    font-weight: 500;
}

.menu h2 {
    padding: var(--P);
    margin-top: 50px;
    margin-bottom: 20px;
}

.menu img {
    border: 5px double snow;
    margin-bottom: 20px;
    border-radius: 20%;
}

.special h2 {
    padding: var(--P);
    margin-top: 50px;
    margin-bottom: 20px;
}

 tr,th,td {
    border: 2px solid snow;
    padding: var(--P);
    border-radius: 15px;
    background-color: snow;
    color: goldenrod;
    font-weight: bold;
}

table {
    padding-bottom: 20px;
}

.review h2 {
    padding: var(--P);
    margin-top: 50px;
    margin-bottom: 20px;
}

form,input,button {
    font-size: 1.2rem;
}

.review p {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.review p:nth-child(4) {
    transform: translateX(-1.2rem);
}

.value {
    background-color: transparent;
    color: var(--BORDERCOLOR);
    transform: translateX(-11rem);
}

.review p:last-child {
    justify-content: space-between;
}

.button {
    margin: 5% 5% 3% 3%;

}

button {
    background-color: var(--BORDERCOLOR);
    color: var(--BG);
    padding: 7px 15px 7px  15px;
    text-align: center;
}

button:hover {
    color: var(--COLOR);
    font-weight: bolder;
}

.locate h2 {
    padding: var(--P);
    margin-top: 50px;
    margin-bottom: 20px;
}

 .address {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: var(--P);
    border: 7px double snow;
    background-color: var(--BORDERCOLOR);
    color: var(--BG);
    width: 40%;
    margin-left: 5%
}

footer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}
footer a {
   margin-top: 5%;
   font-size: 1.5rem;
   color: snow;
   background-color: black;
   font-weight: bolders;
   text-decoration: none;
   padding: 5px;
}

footer a:hover,footer a:focus {
    transform: scale(0.8);
    transition: all 0.3s;
    color: black;
    background-color: var(--COLOR);
} 