* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img {display: block;
     /* margin-left: 39%;
     margin-top: 10%; */
     max-width: 100%;
     height: auto;
    }

body {
    min-height: 100vh;
    background-color: whitesmoke;
    background-image: radial-gradient(snow,lightsteelblue);

}

header,footer {
    position: sticky;
    color: snow;
    text-align: center;
}

header {
    background-color: black;
    top: 0;
}

nav {
    background-color: rgb(57, 143, 255);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    font-size: large;
    font-weight: bold;
}

a, a:visited {
    color: snow;
    text-decoration: none;
}

a:hover, a:focus {
    color: black
}

h2,p {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1.5rem;
    padding: 1rem;
    align-items: center;
 }

 .money {
   scroll-margin-top: 8rem;
   background-image: radial-gradient(steelblue, white);
   border: 2px solid cadetblue;
   border-radius: 15px;
   width: min(100%, 350px);
   display: flex;
   flex-direction: column;
   padding: 1rem;
   align-items: center;
 }

 .money figure {
    display: flex;
    flex-flow: column nowrap;
 }

 .money img {
    border: 5px double steelblue;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    
 }

footer {
    background-color: black;
    bottom: 0;
   /*  margin-top: 20px; */
   
}
/* SMALL */
@media screen and (min-width:576px) {
    main {
        justify-content: center;
        flex-flow: row wrap;
        padding: 1rem;
    }

    .money {
        width: min(100%, 400px);
    }

    .money:last-child {
        order: -1;
    }
}

/* MEDIUM */
@media screen and (min-width:768px) {
    nav {
        display: none;
    }
    .money {
        width: min(100%, 325px);
    }

    .money figure {
        flex-flow:column-reverse
    }
    .money p {
        margin-top: 1rem;
    }
}

/* LARGE */
@media screen and (min-width:992px) {
    .money {
        width: min(100%, 400px);

    }

    .money:nth-child(2) {
        order: -1;
    }
    
}

/* X-LARGE */
@media screen and (min-width:1200px) {
    .money {
        width: min(33% - 1rem,500px);
    }

}

/* MOBILE LANDSCAPE */
@media screen and (max-width:425px) and (min-aspect-ratio: 7/4) {
    h1 {
        font-size: 1.5rem
    }
    nav {
        display: none;
    }
}


    
