*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    background-color: red;
}

h1{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    
}
